body {
    width: 100%;
    background: silver;
    display: flex;
    flex-wrap: wrap;
}
.post-card {
    width: 18%;
    height: 220px;
    border: 2px solid red;
    padding: 5px;
    margin: 2px;
}

